<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/pico.css">
</head>
<body>
<div class="container">
    <form action="/register" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        
        <br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <br>
        
        <input type="submit" value="Register">
    </form>
    </div>
</body>
<style>
.container{
  margin: 0 auto;
}
</style>
</html>

